/* slide bar */
span.Resizer.horizontal {
  width: 100%;
  background: black;
  height: 10px;
  box-sizing: border-box;
}

/* scroll feature */
.split-pane-wrapper .Pane.horizontal {
  overflow-y: auto;
}

.image-container {
  width: 100%;
  /* flex-wrap: wrap; */
  position: absolute;
}

.image {
  /* height: 110px; */
  margin: 10px;
  /* resize: both;
  overflow: auto; */
}

body {
  /* disables page scroll */
  overflow: hidden;
}

.back-button {
  position: absolute;
  top: 10%;
  left: 7.5%;
  transform: translateY(-50%);
  border-width: 0px;
  background-color: transparent;
  font-size: 2em;
}

/* Project Title styling */
.project-title {
  position: absolute;
  top: 10.75%;
  left: 50%;
  transform: translate(-50%, -50%); /* center vertically */

  /* handles text overflow styling */
  white-space: nowrap;
  overflow: hidden;
}