/* slide bar */
span.Resizer.horizontal {
  width: 100%;
  background: black;
  height: 10px;
  box-sizing: border-box;
}

/* scroll feature */
.split-pane-wrapper .Pane.horizontal {
  overflow-y: auto;
}

.image-container {
  height: 100%;
  flex-wrap: wrap;
}

.image {
  height: 110px;
  margin: 10px;
}