button {
    background-color: #FDCE78;
    color: #164343;
    /* make button round */
    /* make button text font */
    /* make button text size */
    /* position button */
    align-items: center;
}