.settings-button {
  position: fixed;
  right: 20px;
  top: 10%; /* Adjust the vertical position */
  transform: translateY(-50%);
  border-width: 0px;
  background-color: white;
  font-size: 2em;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-button {
  background-color: #2A7676;
  height: 40px;
  width: 40px;
  border-radius: 7px;
  border-width: 0px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  box-shadow: 0px 0px 3px #00000050;
}

.sidebar-button-disabled {
  /* make buttons have a lighter color than default */
  background-color: #5d8f8f;
}

.sidebar-icon {
  color: white;
  font-size: 2em;
  padding-right: 4px;
}

/* .alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(254, 253, 249, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
  width: 75%;
  border-radius: 20px;
  text-align: center;
}

.alert h1 {
  font-size: xx-large;
}

.alert button {
  background-color: #2A7676;
  color: white;
  font-size: medium;
  margin-top: 7.5px;
  border-radius: 10px;
} */