.offcanvas-icon {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #215F5F;
}

.camera {
    margin-left: 13.5px;
    font-size: 45px;
}

span {
    margin-left: 15px;
    font-weight: bold;
    font-size: 1.2em;
}