.TopHeader {
    color: #FDCE78;
    padding-bottom: 10%;
    font-family: 'Ramaraja', sans-serif;
    font-size: 50px;
}

.buttonContainer {
  margin-left: 65%;
  margin-top: -95px;
}

.button {
  background-color: #FDCE78;
  color: #164343;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 90px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 15px;
}

.grid-container {
    display: flex;
    justify-content: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    /* grid-row-gap: 120px; */
    list-style-type: none;
  }
  
  .grid li svg {
    fill: #82BFBF; 
}

  .grid li span {
    margin-top: 10px; 
    font-family: 'Palanquin Dark', sans-serif;
    color: whitesmoke;
  }
